*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-panel{
    height: 94vh;
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
}
.boards{
    border: 2px solid red;
    height:100%;
    flex: 1 1 400px;
}